@import url("https://fonts.googleapis.com/css2?family=Arima:wght@700&family=Dancing+Script&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Shadows+Into+Light&family=Splash&family=The+Nautigal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  #contacto1 {
    background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
  }
}
@media screen and (min-width: 768px) {
  #productos {
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
    border: solid;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
  }
}
@media screen and (min-width: 960px) {
  .article-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
}
.letratextos {
  font-family: "Arima", cursive;
  font-size: 1.25rem;
  font-weight: 400;
}

.letrasubtitulos {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

.letratitulos {
  font-family: "Splash", cursive;
  font-size: 3rem;
  font-weight: 300;
}

.gradient1 {
  background: radial-gradient(rgba(240, 170, 234, 0.637) 0%, rgba(186, 233, 236, 0.692) 45.6%, rgba(199, 144, 216, 0.603));
}

.gradient2 {
  background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
}

.gradient3 {
  background: linear-gradient(rgba(24, 207, 162, 0.541), rgba(123, 199, 231, 0.555));
}

#carouselExampleControls {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
}
#carouselExampleControls.carousel-inner, #carouselExampleControls.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#carouselExampleControlsimg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  justify-items: space-around;
  flex-direction: row;
  align-content: flex-end;
  margin-left: 1vw;
  margin-top: 2vh;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-items: space-around;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  list-style-type: none;
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Permanent Marker", cursive;
  text-shadow: black;
}

#footer {
  margin: 1rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
  box-shadow: 1rem 1rem 2rem 1rem rgb(116, 110, 110);
  margin-bottom: 1rem;
}
#footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3rem;
  align-content: center;
  margin-bottom: 1rem;
  font-family: "Dancing Script", cursive;
}
#footer a {
  text-decoration: none;
  color: black;
  transition: 300ms;
}
#footer a:hover {
  transform: scale(1.3);
  color: rgb(31, 31, 110);
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Splash", scursive;
  font-size: 3.5rem;
  padding: 1rem;
  border: 1rem;
  margin: 1rem;
  text-shadow: 20px 20px 20px 20px black;
  transition: 300ms;
}
.titulo:hover {
  transform: scale(1.3);
  color: rgb(31, 31, 110);
}

.informacion {
  font-family: "Shadows Into Light", cursive;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  background: linear-gradient(rgba(24, 207, 162, 0.541), rgba(123, 199, 231, 0.555));
  border: solid;
  text-align: center;
}

.body {
  background-image: url("../img/flowers-tree.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tit, .sub-tit {
  font-family: "Splash", scursive;
  font-weight: 500;
  transition: 300ms;
}

.sub-tit:hover {
  transform: scale(1.3);
  color: rgb(31, 31, 110);
}

#cosmetica-vegana {
  background-image: url("../img/flowers.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cosmetica {
  background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
  padding: 5%;
  margin: 5%;
  border-radius: 2rem;
  border: solid;
  font-family: "Shadows Into Light", cursive;
}

#recipes {
  background-image: url("../img/delicate-flower.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#receta1 {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(153, 234, 163, 0.603), rgba(217, 252, 186, 0.568));
  border: solid;
}

#receta2 {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background: linear-gradient(rgba(24, 207, 162, 0.541), rgba(123, 199, 231, 0.555));
  border: solid;
}

#receta3 {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  background: radial-gradient(rgba(240, 170, 234, 0.637) 0%, rgba(186, 233, 236, 0.692) 45.6%, rgba(199, 144, 216, 0.603));
  border: solid;
}

.ingredientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#super {
  background-image: url("../img/roses.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#productos {
  justify-content: center;
  align-items: center;
  margin: 0.5;
  padding: 0.5;
}
#productos .article-producto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.card img {
  height: 290px;
  width: 190px;
}

#contacto {
  background-image: url("../img/fondo5bis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#contacto #contacto1 {
  margin: 0.5;
}
#contacto .contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 0%;
  border-radius: 2rem;
  text-align: center;
}
#contacto .contacto h3, #contacto .contacto form {
  font-family: "Arima", cursive;
  font-size: 1.25rem;
  font-weight: 400;
}
#contacto .contacto form {
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
