#contacto {
    background-image: url("../img/fondo5bis.jpg");
    @include fondo;
   
    & #contacto1{
       margin: 0.5;
       }
        & .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        margin: 0%;
        border-radius: $borderradius2;
        text-align: center;

        & h3 {
            font-family: $font-family1;
            font-size: 1.25rem;
            font-weight: 400; 
        }

        & form{
            @extend h3;
            padding: 0.5rem;
            align-items: center;
            justify-content: center;
        }
    }
}


