#contacto {
    background-image: url("../img/fondo5bis.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#contacto1{
    background-color: rgba(255, 228, 196, 0.466);
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin: 0%;
    border-radius: $borderradius2;
    text-align: justify;
}

main section article form {
    font-family: 'Shadows Into Light', cursive;
    font-size: large;
    padding: 1rem;
}
.mensaje-comentario {
    font-family: 'Shadows Into Light', cursive; 
    font-weight: 400; 
}

