#contacto {
    background-image: url("../img/fondo5bis.jpg");
    @include fondo;
   
    & #contacto1{
        background: map-get($fondos, mid);
        border: solid;
        border-radius: 1rem;
        padding: 2rem;
        margin: 2rem;
       }
        & .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        margin: 0%;
        border-radius: $borderradius2;
        text-align: justify;

        & h3 {
            font-family: $font-family1;
            font-size: 1.25rem;
            font-weight: 400; 
        }

        & form{
            @extend h3;
            padding: 1rem;
        }
    }
}


