.tit, .sub-tit{
    font-family: 'Splash', scursive;
    font-weight: 500; 
    transition: 300ms;
}
.sub-tit:hover {
    @include hover;
}
#cosmetica-vegana {
    background-image: url("../img/flowers.jpg");
    @include fondo;
}
.cosmetica {
    background: map-get($fondos, mid);
    padding: 5%;
    margin: 5%;
    border-radius: $borderradius2;
    border: solid;
    font-family: 'Shadows Into Light', cursive;
}


