.tit, .sub-tit{
    font-family: 'Splash', scursive;
    font-weight: 500; 
    transition: 300ms;
}
.sub-tit:hover {
    @include hover;
}
.cosmetica {
    background-color: $color4;
    padding: 5%;
    margin: 5%;
    border-radius: $borderradius2;
    font-family: 'Shadows Into Light', cursive;
}

