#footer {
  
    margin: 1rem;
    border-radius: $borderradius1;
    background: map-get($fondos, mid);
    box-shadow: 1rem 1rem 2rem 1rem rgb(116, 110, 110);
    margin-bottom: 1rem;

    & div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    align-content: center;
    margin-bottom: 1rem;
    font-family: 'Dancing Script', cursive;
    }

    & a{
        text-decoration: none;
        color: black;
        transition: 300ms;

        &:hover{
           @include hover;
        }
    }
}
