#productos {
    grid-area: "main";
    justify-content: center;

    & .article-producto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3rem ;
    }
}

.card img{
    height: 290px;
    width: 190px;
}
