#super {
    background-image: url("../img/roses.jpg");
    @include fondo;  
}
#productos {
    justify-content: center;
    align-items: center;
    margin: 0.5;
    padding: 0.5;
   

    & .article-producto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem ;
    }
}

.card img{
    height: 290px;
    width: 190px;
}
