#super {
    background-image: url("../img/roses.jpg");
    @include fondo;  
}
#productos {
    justify-content: center;
    align-items: center;
    background: map-get($fondos, mid);
    border: solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    & .article-producto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 3rem ;
    }
}

.card img{
    height: 290px;
    width: 190px;
}
