#recipes {
   background-image: url("../img/delicate-flower.jpg");
   @include fondo; 
}
#receta1{
   padding: 2rem;
   margin: 2rem;
   border-radius: 1rem;
   background: map-get($fondos, mid);
   border: solid;
}
#receta2{
   padding: 2rem;
   margin: 2rem;
   border-radius: 1rem;
   background: map-get($fondos, strong);
   border: solid;
}
#receta3{
   padding: 2rem;
   margin: 2rem;
   border-radius: 1rem;
   background: map-get($fondos, light);
   border: solid;
}
.ingredientes{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
