$fondos:(
    light: radial-gradient(rgba(240, 170, 234, 0.637) 0%, rgba(186, 233, 236, 0.692) 45.6%, rgba(199, 144, 216, 0.603)),
    mid: linear-gradient(rgba(153, 234, 163, 0.603),rgba(217, 252, 186, 0.568)),
    strong: linear-gradient(rgba(24, 207, 162, 0.541),rgba(123, 199, 231, 0.555)),
);

.gradient1 {
    background: map-get($fondos, light);
}
.gradient2 {
    background: map-get($fondos, mid);
}
.gradient3 {
    background: map-get($fondos, strong);
}

