
$color1: rgba(0,32,48, 1);
$color2: rgba(18,103,138, 1);
$color3: rgba(68,196,175, 1);
$color4: rgb(153, 234, 163);
$color5: rgba(217,252,186, 1);

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&family=Dancing+Script&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Shadows+Into+Light&family=Splash&family=The+Nautigal&display=swap');

$font-family1: 'Arima', cursive;
$font-family2: 'Dancing Script', cursive;
$font-family3: 'Lobster', cursive;
$font-family4: 'Pacifico', cursive;
$font-family5: 'Permanent Marker', cursive;
$font-family6: 'Shadows Into Light', cursive;
$font-family7: 'Splash', cursive;
$font-family8: 'The Nautigal', cursive;

$borderradius1: 1rem;
$borderradius2: 2rem;
