/* Color Theme*/
$color-lpink: rgba(240, 156, 184, 0.575);
$color-lorange: rgb(240, 180, 111);
$color-lilac: rgb(206, 105, 197);
$color-lgreen: rgba(170, 242, 177, 1);
$color-lblue: rgba(165, 185, 242, 1);



@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&family=Dancing+Script&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Shadows+Into+Light&family=Splash&family=The+Nautigal&display=swap');



$font-family1: 'Arima', cursive;
$font-family2: 'Dancing Script', cursive;
$font-family3: 'Lobster', cursive;
$font-family4: 'Pacifico', cursive;
$font-family5: 'Permanent Marker', cursive;
$font-family6: 'Shadows Into Light', cursive;
$font-family7: 'Splash', cursive;
$font-family8: 'The Nautigal', cursive;

$borderradius1: 1rem;
$borderradius2: 2rem;