
#carouselExampleControls {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
        &.carousel-inner{
            display: flex;
            justify-content: center;
            align-items: center;
    }
            &.carousel-item{
                @extend .carousel-inner;
                
    }
            &img {
                display: flex;
                justify-content: center;
                align-items: center; 
                border-color: black;
            }
}

